/* ==========================================================================
   Base
   ========================================================================== */

/**
 * Base values
 */

$disclaimer-color: #6FC9C0;
$headline-color: #3F5EAE;

p {
  font-family: 'Press Start 2P', cursive;
}

/* ==========================================================================
   Logo
   ========================================================================== */

.logo {
  margin: 40px auto 0 auto;
  width: 225px;
}

/* ==========================================================================
   Headline
   ========================================================================== */

.title {
  color: $headline-color;
  font-size: 18px;
  margin: 40px 0 0 0;
  text-align: center;
}

/* ==========================================================================
   Form
   ========================================================================== */

.form {
  margin: 40px auto 0 auto;
  width: 225px;
}

/* ==========================================================================
   Disclaimer
   ========================================================================== */

.disclaimer {
  font-size: 10px;
  color: $disclaimer-color;
  margin: 100px 0 0 0;
  text-align: center;
}
