<!doctype html>
<html lang="pt-br">

	<head>
		<title>Pacman</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta charset="utf-8">
    <link href="http://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>

	<body>
		<div class="logo">
			<img src="images/pacman-blue-ghost.jpeg" />
		</div>

		<%= yield %>

		<div class="disclaimer">
			<p>Versão alpha: use por sua própria conta e risco!</p>
			<p>Não salvamos seus dados.</p>
		</div>
	</body>
</html>
