<p class="title">Selecione o arquivo com o extrato do cartão:</p>

<div class="form">
  <form action="/upload" enctype="multipart/form-data" method="POST">
  	<input name="file" type="file" />
  	<input type="submit" class="button" value="Converter" />
  </form>
</div>
